gointerview.ru, www.gointerview.ru {
	encode gzip

	@api path /api/*
	handle @api {
		reverse_proxy api:3000
	}

	@socket path /socket.io/*
	handle @socket {
		reverse_proxy api:3000
	}

	@uploads path /uploads/*
	handle @uploads {
		reverse_proxy api:3000
	}

	handle {
		reverse_proxy web:3000
	}
}
